In [1]:
# importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.stats.diagnostic as diag
import statsmodels.api as sm

In [2]:
#importar el csv y imprimir las primeras 5 lineas
datos = pd.read_csv('movies.csv')

In [3]:
# data cleaning
datos.drop_duplicates(keep='first')
#drop id column
datos = datos.drop('id', 1) 
#convert castmen and cast women to int
datos['castWomenAmount'] = pd.to_numeric(datos['castWomenAmount'],errors='coerce')
datos['castMenAmount'] = pd.to_numeric(datos['castMenAmount'],errors='coerce')
#change releaseDate to datime format

datos['releaseDate'] = datos['releaseDate'].str.replace('-','/')
datos['releaseDate'] = pd.to_datetime(datos['releaseDate'], infer_datetime_format=True)

C:\Users\Juan\AppData\Local\Temp\ipykernel_3768\984554686.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  datos = datos.drop('id', 1)

In [6]:
datos.head()

,budget,genres,homePage,productionCompany,productionCompanyCountry,productionCountry,revenue,runtime,video,director,...,popularity,releaseDate,voteAvg,voteCount,genresAmount,productionCoAmount,productionCountriesAmount,actorsAmount,castWomenAmount,castMenAmount
0,4000000,Crime|Comedy,https://www.miramax.com/movie/four-rooms/,Miramax|A Band Apart,US|US,United States of America,4257354.0,98,False,Allison Anders|Alexandre Rockwell|Robert Rodri...,...,20.880,1995-12-09,5.7,2077,2,2,1,25,15.0,9.0
1,21000000,Action|Thriller|Crime,NaN,Universal Pictures|Largo Entertainment|JVC,US|US|JP,Japan|United States of America,12136938.0,110,False,Stephen Hopkins,...,9.596,1993-10-15,6.5,223,3,3,2,15,3.0,9.0
2,11000000,Adventure|Action|Science Fiction,http://www.starwars.com/films/star-wars-episod...,Lucasfilm|20th Century Fox,US|US,United States of America,775398007.0,121,NaN,George Lucas,...,100.003,1977-05-25,8.2,16598,3,2,1,105,5.0,62.0
3,94000000,Animation|Family,http://movies.disney.com/finding-nemo,Pixar,US,United States of America,940335536.0,100,NaN,Andrew Stanton,...,134.435,2003-05-30,7.8,15928,2,1,1,24,5.0,18.0
4,55000000,Comedy|Drama|Romance,NaN,Paramount|The Steve Tisch Company,US|,United States of America,677387716.0,142,False,Robert Zemeckis,...,58.751,1994-07-06,8.5,22045,3,2,1,76,18.0,48.0

# Explicacion rapida de los datos

In [4]:
#informacion general sobre los datos
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   budget                     10000 non-null  int64
 1   genres                     9947 non-null   object
 2   homePage                   4193 non-null   object
 3   productionCompany          9543 non-null   object
 4   productionCompanyCountry   8720 non-null   object
 5   productionCountry          9767 non-null   object
 6   revenue                    10000 non-null  float64
 7   runtime                    10000 non-null  int64
 8   video                      9514 non-null   object
 9   director                   9926 non-null   object
 10  actors                     9920 non-null   object
 11  actorsPopularity           9913 non-null   object
 12  actorsCharacter            9953 non-null   object
 13  originalTitle              10000 non-null  object
 14  title                      10000 non-null  object
 15  originalLanguage           10000 non-null  object
 16  popularity                 10000 non-null  float64
 17  releaseDate                10000 non-null  datetime64[ns]
 18  voteAvg                    10000 non-null  float64
 19  voteCount                  10000 non-null  int64
 20  genresAmount               10000 non-null  int64
 21  productionCoAmount         10000 non-null  int64
 22  productionCountriesAmount  10000 non-null  int64
 23  actorsAmount               10000 non-null  int64
 24  castWomenAmount            9963 non-null   float64
 25  castMenAmount              9838 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(7), object(13)
memory usage: 2.0+ MB

In [ ]:
#distribicion de los datos en el csv
datos.nunique()

In [ ]:
#informcacion sobre el tipo de datos
datos.dtypes

# Tipos de Variables

In [ ]:
#distribucion variables categoricas
datos.describe(include=["O"]).transpose()

In [5]:
#distribucion variables numericas
datos.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
budget,10000.0,1.855163e+07,3.662669e+07,0.000,0.00000,500000.0000,2.000000e+07,3.800000e+08
revenue,10000.0,5.673793e+07,1.495854e+08,0.000,0.00000,163124.5000,4.479661e+07,2.847246e+09
runtime,10000.0,1.002681e+02,2.777783e+01,0.000,90.00000,100.0000,1.130000e+02,7.500000e+02
popularity,10000.0,5.139391e+01,2.167296e+02,4.258,14.57775,21.9055,4.065400e+01,1.147465e+04
voteAvg,10000.0,6.483490e+00,9.842740e-01,1.300,5.90000,6.5000,7.200000e+00,1.000000e+01
voteCount,10000.0,1.342382e+03,2.564197e+03,1.000,120.00000,415.0000,1.316000e+03,3.078800e+04
genresAmount,10000.0,2.596500e+00,1.154565e+00,0.000,2.00000,3.0000,3.000000e+00,1.600000e+01
productionCoAmount,10000.0,3.171400e+00,2.539738e+00,0.000,2.00000,3.0000,4.000000e+00,8.900000e+01
productionCountriesAmount,10000.0,1.751000e+00,3.012093e+00,0.000,1.00000,1.0000,2.000000e+00,1.550000e+02
actorsAmount,10000.0,2.147667e+03,3.720008e+04,0.000,13.00000,21.0000,3.600000e+01,9.195900e+05
castWomenAmount,9963.0,7.004158e+03,6.723962e+04,0.000,3.00000,6.0000,1.000000e+01,9.221620e+05
castMenAmount,9838.0,1.655719e+04,1.004560e+05,0.000,7.00000,12.0000,2.000000e+01,9.220170e+05

# Distribucion de las variables cuantitativas y sus tablas de frecuencias

### Distribucion normal de las variables

In [ ]:
fig = plt.figure(figsize=(15,15),constrained_layout=True)
gs = fig.add_gridspec(nrows=3,ncols=4)
fig.set_facecolor('#5e6e65')

fig.suptitle('Histogramas de las variables Numericas', fontsize=16, color='w')

ax1 = fig.add_subplot(gs[0,0])
#ax1.hist(datos.budget)
datos.budget.plot.kde(ax=ax1,secondary_y=True)
ax1.set_title('budget histogram',color='w')

ax2 = fig.add_subplot(gs[0,1])
#ax2.hist(datos.revenue)
datos.revenue.plot.kde(ax=ax2,secondary_y=True)
ax2.set_title('revenue histogram',color='w')

ax3 = fig.add_subplot(gs[0,2])
#ax3.hist(datos.runtime)
datos.runtime.plot.kde(ax=ax3,secondary_y=True)
ax3.set_title('runtime histogram',color='w')

ax4 = fig.add_subplot(gs[0,3])
#ax4.hist(datos.popularity)
datos.popularity.plot.kde(ax=ax4,secondary_y=True)
ax4.set_title('popularity histogram',color='w')

ax5 = fig.add_subplot(gs[1,0])
#ax5.hist(datos.voteAvg)
datos.voteAvg.plot.kde(ax=ax5,secondary_y=True)
ax5.set_title('voteAvg histogram',color='w')

ax6 = fig.add_subplot(gs[1,1])
#ax6.hist(datos.voteCount)
datos.voteCount.plot.kde(ax=ax6,secondary_y=True)
ax6.set_title('voteCount histogram',color='w')

ax7 = fig.add_subplot(gs[1,2])
#ax7.hist(datos.genresAmount)
datos.genresAmount.plot.kde(ax=ax7,secondary_y=True)
ax7.set_title('genresAmount histogram',color='w')

ax8 = fig.add_subplot(gs[1,3])
#ax8.hist(datos.productionCoAmount)
datos.productionCoAmount.plot.kde(ax=ax8,secondary_y=True)
ax8.set_title('productionCoAmount histogram',color='w')

ax9 = fig.add_subplot(gs[2,0])
#ax9.hist(datos.productionCountriesAmount)
datos.productionCountriesAmount.plot.kde(ax=ax9,secondary_y=True)
ax9.set_title('productionCountriesAmount histogram',color='w')

ax10 = fig.add_subplot(gs[2,1])
#ax10.hist(datos.actorsAmount)
datos.actorsAmount.plot.kde(ax=ax10,secondary_y=True)
ax10.set_title('actorsAmount histogram',color='w')

#ax11 = fig.add_subplot(gs[2,0])
#ax11.hist(df.horsepower)
#df.horsepower.plot.kde(ax=ax11,secondary_y=True)
#ax11.set_title('horsepower histogram',color='w')

#ax12 = fig.add_subplot(gs[2,1])
#ax12.hist(df.peak_rpm)
#df.peak_rpm.plot.kde(ax=ax12,secondary_y=True)
#ax12.set_title('peak_rpm histogram',color='w')

### Tablas de Frecuencias

In [ ]:
datos.budget.value_counts().to_frame().transpose()

In [ ]:
datos.revenue.value_counts().to_frame().transpose()

In [ ]:
datos.runtime.value_counts().to_frame().transpose()

In [ ]:
datos.popularity.value_counts().to_frame().transpose()

In [ ]:
datos.voteAvg.value_counts().to_frame().transpose()

In [ ]:
datos.voteCount.value_counts().to_frame().transpose()

In [ ]:
datos.genresAmount.value_counts().to_frame().transpose()

In [ ]:
datos.productionCoAmount.value_counts().to_frame().transpose()

In [ ]:
datos.productionCountriesAmount.value_counts().to_frame().transpose()

In [ ]:
datos.actorsAmount.value_counts().to_frame().transpose()

## ojo al tejo

In [ ]:
datos[["budget"]].boxplot()

In [ ]:
sm.qqplot(datos[['budget']],line='45')

# Ejercicio 4

## ¿Cuáles son las 10 películas que contaron con más presupuesto?

In [ ]:
budgetTop = datos.sort_values(by='budget', ascending=False).reset_index(drop=True)
budgetTop = budgetTop.filter(['title','budget'],axis=1)
budgetTop.head(n=10)

### ¿Cuáles son las 10 películas que más ingresos tuvieron?

In [ ]:
revenueTop = datos.sort_values(by='revenue', ascending=False).reset_index(drop=True)
revenueTop = revenueTop.filter(['title','revenue'],axis=1)
revenueTop.head(n=10)

### ¿Cuál es la película que más votos tuvo?

In [ ]:
voteCount = datos.sort_values(by='voteCount', ascending=False).reset_index(drop=True)
voteCount = voteCount.filter(['title','voteCount'],axis=1)
voteCount.head(n=1)

### ¿Cuál es la peor película de acuerdo a los votos de todos los usuarios?

In [ ]:
#DUDA
voteAvgCount = datos.sort_values(by='voteAvg', ascending=True).reset_index(drop=True)
voteAvgCount = voteAvgCount.filter(['title','voteAvg'],axis=1)
voteAvgCount.head(n=1)

### 4.5¿Cuántas  películas  se  hicieron  en  cada  año?

In [ ]:
#creating new dataframe just in case
yearData= datos.copy()
yearData['releaseDate'] = pd.DatetimeIndex(yearData['releaseDate']).year
#yearData.releaseDate.value_counts().to_frame().transpose()
#plot bar 
fig, ax = plt.subplots(figsize=(30,20)) 
ax = yearData.releaseDate.value_counts().plot.bar(color=['green','#0AFF2D','#33DB85','yellow','orange','red'],fontsize=20)
plt.title('¿Cuántas películas se hicieron en cada año?',fontsize=30)
plt.ylabel('Numero de Peliculas',fontsize=30)
plt.xlabel('Year',fontsize=30)

In [ ]:
yearData.releaseDate.value_counts().to_frame().transpose()

### 4.6 ¿Cuál es el género principal de las 20 películas más recientes? ¿Cuál es el género principal que predomina en el conjunto de datos? Represéntelo usando un gráfico

In [ ]:
#creating new dataframe just in case
genderData= datos.copy()
#new dataframe, create a new column and we do a split
genderData["genero_principal"]=datos.genres.str.split('|').str[0]

In [ ]:
#plot bar 
fig, ax = plt.subplots(figsize=(30,20)) 
ax = genderData.genero_principal.value_counts().plot.bar(color=['green','#0AFF2D','#33DB85','yellow','orange','red'],fontsize=20)
plt.title('¿Cuál es el género principal que predomina en el conjunto de datos?',fontsize=30)
plt.ylabel('Cantidad de generos',fontsize=30)
plt.xlabel('generos',fontsize=30)

In [ ]:
#creating new dataframe just in case
genderData= genderData.sort_values(by='releaseDate', ascending=False).reset_index(drop=True)
genderData = genderData.head(20)

In [ ]:
#plot bar 
fig, ax = plt.subplots(figsize=(30,20)) 
ax = genderData.genero_principal.value_counts().plot.bar(color=['green','#0AFF2D','#33DB85','yellow','orange','red'],fontsize=20)
plt.title(' peliculas más recientes',fontsize=30)
plt.ylabel('Cantidad de generos',fontsize=30)
plt.xlabel('generos',fontsize=30)

### 4.7¿Las películas de qué genero principal obtuvieron mayores ganancias?

In [ ]:
#creating new dataframe just in case
genderData1= datos.copy()
#new dataframe, create a new column and we do a split
genderData1["genero_principal"]=datos.genres.str.split('|').str[0]
#genderData1.groupby(['revenue']).sort_values(by='revenue', ascending=True).reset_index(drop=True)
genderData1=genderData1.groupby("genero_principal")["revenue"].sum().sort_values(ascending=False)

In [ ]:
#plot bar 
fig, ax = plt.subplots(figsize=(30,20)) 
ax = genderData1.plot.bar(color=['green','#0AFF2D','#33DB85','yellow','orange','red'],fontsize=20)
plt.title('genero de peliculas con mayores ganancias',fontsize=30)
plt.ylabel('Ganancia',fontsize=30)
plt.xlabel('generos',fontsize=30)

### 4.8¿La cantidad de actores influye en los ingresos de las películas?¿se han hecho  películas con más actores en los últimos años?

In [ ]:
#creating new dataframe just in case
actorsData= datos.copy()
#new dataframe, create a new column and we do a split
#actorsData["genero_principal"]=datos.genres.str.split('|').str[0]
#genderData1.groupby(['revenue']).sort_values(by='revenue', ascending=True).reset_index(drop=True)
actorsData=actorsData.groupby("actorsAmount")["revenue"].sum().sort_index(ascending=True)
actorsData= actorsData.head(100)

In [ ]:
#plot bar 
fig, ax = plt.subplots(figsize=(30,20)) 
ax = actorsData.plot.bar(color=['green','#0AFF2D','#33DB85','yellow','orange','red'],fontsize=20)
plt.title('¿La cantidad de actores influye en los ingresos de las películas?',fontsize=30)
plt.ylabel('Ingreso Pelicualas',fontsize=30)
plt.xlabel('Cantidad de actores',fontsize=30)

In [ ]:
#creating new dataframe just in case
actorsData1= datos.copy()

#creating new dataframe just in case
actorsData1['releaseDate']=pd.DatetimeIndex(actorsData1['releaseDate']).year
actorsData1= actorsData1.sort_values(['releaseDate', 'actorsAmount'],ascending = [False, False]).reset_index(drop=True)
# column actorsAmount that has a value bigger than 100000
actorsData11 = actorsData1[ actorsData1['actorsAmount'] > 100000 ].index
  
# drop these row indexes
# from dataFrame
actorsData1.drop(actorsData11, inplace = True)

#actorsData1[['releaseDate', 'actorsAmount']].head(50)

#dataframe con el releaseDate y la mediana de la cantidad de actores
#actorsData1=actorsData1.groupby(["releaseDate"])["actorsAmount"].median()

In [ ]:
#plot bar 
fig, ax = plt.subplots(figsize=(30,20)) 
ax = actorsData1.groupby(["releaseDate"])["actorsAmount"].median().plot.bar(fontsize=20,color=['green','#0AFF2D','#33DB85','yellow','orange','red'])
plt.title('¿se han hecho películas con más actores en los últimos años? ',fontsize=30)
plt.ylabel('Cantidad de actores',fontsize=30)
plt.xlabel('Years',fontsize=30)

### 4.9 ¿Es posible que la cantidad de hombres y mujeres en el  reparto influya en  la popularidad y los ingresos de las películas?